html body {
  height: 100%;
  font-family: "Lemonada", cursive;
  font-size: 22px;
  scroll-behavior: smooth;
}

#showcase {
  background-position: lefts;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 400px;
  color: #f1f1f1;
  position: relative;
  height: 20vh;
}

#showcase h1 {
  padding-left: 70px;
  padding-top: 40px;
  height: 100px;
}
#navbar {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 0;
  width: 100%;
}
#nav-logo {
  float: left;
  font-size: 28px;
  pointer-events: none;
}

#navbar ul > li {
  display: inline;
  padding: 15px;
  color: #f1f1f1;
}

#navbar ul > li:hover {
  color: rgba(72, 121, 255, 0.979);
  cursor: pointer;
}

#navbar ul {
  width: 100%;
  background-color: #67a;
  text-align: right;
  height: 9vh;
  padding: 10px;
  margin-bottom: 0;
  display: fixed;
  font-size: x-large;
}

.container {
  height: 100vh;
}
